data/
logs/

# Byte-compiled / optimized / DLL files
__pycache__/

# C extensions
*.so
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Misc
logs/
.python-version
.pytest_cache/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace
